* {
    margin: 0;
}

.text {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;  
    text-align: left;
}

.text::after {
    content: "";
    background: url("https://images.pexels.com/photos/533904/pexels-photo-533904.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.text-wrapper {
    padding: 10% 60% 10% 10%;
}

h1, h2, p {
    padding: 10px;
}

p {font-weight: 700;
    font-size: 17px;
}